@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'PerfectlyNineties';
    src: url('/fonts/PerfectlyNinetiesRegular.woff') format('woff'), url('/fonts/PerfectlyNinetiesRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PerfectlyNineties';
    src: url('fonts/PerfectlyNinetiesItalic.woff') format('woff'), url('/fonts/PerfectlyNinetiesItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

:root {
    --font-primary: 'PerfectlyNineties', sans-serif;
    --font-secondary: 'Aguafina Script', cursive;
}


  
h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
}

h2 {
    font-family: var(--font-primary);
    font-size: 2.25rem;
}

h3 {
    font-family: var(--font-primary);
    font-size: 1.5rem;
}

.fancy {
    font-family: var(--font-secondary);
    letter-spacing: 0.075rem;
}